In [1]:
# The pandas data science library that gives the 'spreadsheet'-like capabilities to python
import pandas as pd
# The matplotlip library is used to visualize data
import matplotlib.pyplot as plt
# The pathlib library is used to manage access to disk. It helps us to keep things the same between Windows and Linux
from pathlib import Path
# The os library is used to list and access files and directories on the hard drive
import os
# Numpy is the numerical library. It is used by many of the ones before, but we import it for in case
import numpy as np
# From Numpy we also import the nan 'missing-value' object that we use alot
from numpy import nan
# For fancy matching of strings, we use re
import re
# String libary for temporary file import
from io import StringIO
# Create tooltips for interactive plots
import mpld3
# For connecting to google sheet
import gspread
from oauth2client.service_account import ServiceAccountCredentials

from scipy import interpolate
from windrose import WindroseAxes
from matplotlib.colors import BoundaryNorm
from matplotlib.ticker import MaxNLocator
import matplotlib.cm as cm

import ipywidgets as widgets
from ipywidgets import interact, interact_manual
from ipywidgets import Layout

import seaborn as sns
sns.set_theme(style="darkgrid")

import scipy.stats
from scipy.stats import linregress

In [2]:
# This 'widget' is used to give us interactive graph capabilities in the matplotlib figures
%matplotlib widget

In [3]:
def head(filename,N=10):
    n=0
    with open(Path(filename)) as fp:
        for l in fp.readlines():
            if n<N:
                print(l,end="")
                n=n+1
                
def clearplots():
    plt.clf()

In [4]:
os.listdir(DataDir)

NameError: name 'DataDir' is not defined

In [5]:
DataDir = Path('03_Sheets/')

In [28]:
df01 = pd.read_csv(DataDir/'fire_2016_2016_70km.csv')

In [29]:
df01.head()

,fire_ID,lat,lon,size,start_date,end_date,duration,landcover_
0,590178,-25.2729,28.2961,1.29,2013-09-30,2013-10-01,2,Savannas
1,590266,-25.3271,28.3042,1.29,2013-09-17,2013-09-20,4,Open shrublands
2,590294,-25.3563,28.3156,1.29,2013-10-17,2013-10-17,1,Grasslands
3,590324,-25.3729,28.1119,1.71,2013-08-04,2013-08-07,4,Croplands
4,590323,-25.3771,28.0944,1.07,2013-07-31,2013-07-31,1,Croplands

In [30]:
df01 = df01.sort_values(by='start_date')

In [31]:
df01.head()

,fire_ID,lat,lon,size,start_date,end_date,duration,landcover_
345,592076,-26.1354,27.5686,0.86,2013-03-14,2013-03-19,6,Savannas
499,592693,-26.3729,28.0578,3.43,2013-03-24,2013-04-01,9,Savannas
521,592784,-26.4062,28.0659,0.86,2013-03-24,2013-03-24,1,Grasslands
330,592002,-26.1063,27.6175,0.21,2013-04-01,2013-04-01,1,Savannas
513,592753,-26.3896,28.0665,0.21,2013-04-02,2013-04-02,1,Savannas

In [32]:
df02 = pd.read_csv(DataDir/'radarlog01.csv',names=['radardate'])

In [33]:
x = df02['radardate'].to_list()

In [34]:
date = [ d for d in df01['start_date'] if d in x]

In [65]:
df = pd.DataFrame(date,columns=["colummn"])

In [67]:
df.to_csv('date.csv',index=False)

In [72]:
df = df01.loc[df01['start_date'].isin(date)]

In [76]:
df.to_csv('Global_Fire_Atlas_2013_2016_Irene_Radar.csv',sep=",")

In [80]:
df['fire_ID'].to_csv('fireID.csv',index=False,sep=",")